<h2>Latest Import Information</h2>
<ul>
<li>Last Import started at: <%= @import.time_started %></li>
<li>Completed in <%= @import.total_time %> seconds</li>
<li>Previous number of active records:  <%= @import.prev_quantity_active %></li>
<li>Current number of active records: <%= @import.current_quantity_active %></li>
</ul>
