<!-- Page Footer -->
   <footer id="page-footer">
       <div class="inner">
           <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
           <aside id="footer-copyright">
               <div class="container">
                   <span>Copyright © 2013. All Rights Reserved.</span>
                   <span class="pull-right">Commisionrableio</span>
               </div>
           </aside>
       </div><!-- /.inner -->
   </footer>
   <!-- end Page Footer -->
